<meta charset="utf-8">
<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/vue-multiselect@2.0.0"></script>
<link rel="stylesheet" href="https://unpkg.com/vue-multiselect@2.0.0/dist/vue-multiselect.min.css">

<template>
  <div>
    <multiselect v-model="value" :options="options"></multiselect>
  </div>
</template>

<div id="app">
  {{ message }}
  <multiselect
    v-model="value" :options="options"
    :multiple="true" :close-on-select="false" :clear-on-select="false" :hide-selected="true" :preserve-search="true" placeholder="Pick some" label="name" track-by="name"
  >
<!--     <template>
      <slot="tag" scope="props">
        <span class="custom__tag">
          <span>{{ props.option.language }}</span>
          <span class="custom__remove" @click="props.remove(props.option)">❌</span>
        </span>
    </template>
 -->  </multiselect>
</div>

<script>
Vue.component('multiselect', VueMultiselect.Multiselect)
var app = new Vue({
  el: '#app',
  data: {
  message: "Oh hello there!",
    value: [
      { name: 'Vue.js', language: 'JavaScript' }
    ],
    options: [
      { name: 'Vue.js',  language: 'JavaScript' },
      { name: 'Adonis',  language: 'JavaScript' },
      { name: 'Rails',   language: 'Ruby' },
      { name: 'Sinatra', language: 'Ruby' },
      { name: 'Laravel', language: 'PHP' },
      { name: 'Phoenix', language: 'Elixir' }
    ],
  }
})
</script>
